﻿@model VolleyManagement.UI.Areas.Mvc.ViewModels.GameResults.GameResultViewModel

<div class="table-bordered">

    @if (!Model.HomeTeamId.HasValue && !Model.AwayTeamId.HasValue)
    {
        <div class="row">
            <div class="col-md-10">
                <strong>  @Resources.UI.TournamentViews.HomeTeamPlaceholder </strong>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <strong>  @Resources.UI.TournamentViews.AwayTeamPlaceholder </strong>
            </div>
        </div>

        if (Model.GameDate.HasValue)
        {
            <div class="row">
                <div class="col-md-10 text-right">
                    @Model.ShortGameDate
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink(Resources.UI.TournamentViews.Edit, "EditScheduledGame", new { gameId = Model.Id })
            </div>
        </div>
    }
    else if (!Model.HomeTeamId.HasValue && Model.AwayTeamId.HasValue)
    {
        <div class="row">
            <div class="col-md-10">
                <strong>  @Resources.UI.TournamentViews.HomeTeamPlaceholder </strong>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <strong>  @Model.AwayTeamName </strong>
            </div>
        </div>

        if (Model.GameDate.HasValue)
        {
            <div class="row">
                <div class="col-md-10 text-right">
                    @Model.ShortGameDate
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink(Resources.UI.TournamentViews.Edit, "EditScheduledGame", new { gameId = Model.Id })
            </div>
        </div>
    }
    else if (Model.HomeTeamId.HasValue && !Model.AwayTeamId.HasValue)
    {
        if (Model.IsFirstRoundGame)
        {
            <div class="row">
                <div class="col-md-10">
                    <strong>  @Model.HomeTeamName </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 text-right">
                    @Resources.UI.TournamentViews.TeamDayOff
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-10">
                    <strong>  @Model.HomeTeamName </strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <strong>  @Resources.UI.TournamentViews.AwayTeamPlaceholder </strong>
                </div>
            </div>

            if (Model.GameDate.HasValue)
            {
                <div class="row">
                    <div class="col-md-10 text-right">
                        @Model.ShortGameDate
                    </div>
                </div>
            }
        }

        if (Model.AllowEditResult)
        {
            <div class="row">
                <div class="col-md-2">
                    @Html.ActionLink(Resources.UI.TournamentViews.Edit, "EditScheduledGame", new { gameId = Model.Id })
                </div>
            </div>
        }
    }
    else if (Model.HomeTeamId.HasValue && Model.AwayTeamId.HasValue)
    {
        if (Model.IsTechnicalDefeat)
        {
            <div class="row">
                <div class="col-md-10">
                    <strong>  @Model.HomeTeamName </strong>
                </div>
                <div class="col-md-2">
                    <strong>  @Model.GameScore.Home </strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <strong>  @Model.AwayTeamName </strong>
                </div>
                <div class="col-md-2">
                    <strong>  @Model.GameScore.Away </strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 text-right">
                    @Resources.UI.GameResultViews.TechnicalDefeat
                </div>
            </div>

            if (Model.AllowEditResult)
            {
                <div class="row">
                    <div class="col-md-2">
                        @Html.ActionLink(Resources.UI.TournamentViews.Result, "Edit", "GameResults", new { Id = Model.Id }, null)
                    </div>
                </div>
            }
        }
        else if (!Model.GameScore.IsEmpty)
        {
            <div class="row">
                <div class="col-md-10">
                    <strong>  @Model.HomeTeamName </strong>
                </div>
                <div class="col-md-2">
                    <strong>   @Model.GameScore.Home </strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <strong>  @Model.AwayTeamName </strong>
                </div>
                <div class="col-md-2">
                    <strong>  @Model.GameScore.Away </strong>
                </div>
            </div>

            <div class="row">
                @foreach (var score in Model.SetScores)
                {
                    if (!score.IsEmpty)
                    {
                        <div class="col-md-2">
                            @score.Home:@score.Away
                        </div>
                    }
                }
            </div>

            if (Model.AllowEditResult)
            {
                <div class="row">
                    <div class="col-md-2">
                        @Html.ActionLink(Resources.UI.TournamentViews.Result, "Edit", "GameResults", new { Id = Model.Id }, null)
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col-md-10">
                    <strong>  @Model.HomeTeamName </strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <strong>  @Model.AwayTeamName </strong>
                </div>
            </div>

            if (Model.GameDate.HasValue)
            {
                <div class="row">
                    <div class="col-md-10 text-right">
                        @Model.ShortGameDate
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        @Html.ActionLink(Resources.UI.TournamentViews.Result, "Edit", "GameResults", new { Id = Model.Id }, null)
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink(Resources.UI.TournamentViews.Edit, "EditScheduledGame", new { gameId = Model.Id })
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-2">
                        @Html.ActionLink(Resources.UI.TournamentViews.Edit, "EditScheduledGame", new { gameId = Model.Id })
                    </div>
                </div>
            }
        }
    }
</div>