<div class="schedule-wrapper">
  <div class="schedule-table" *ngFor="let weeks of data.Schedule">
    <div *ngIf="weeks">

      <div class="day" *ngFor="let day of weeks.Days">
        <p class="headercenter">{{day.Date | date: "dd-MM-yyyy"}}</p>
        <p class="headercenter {{getDivisionAccentColor(division.Id)}}" *ngFor="let division of day.Divisions">{{getDivisionsHeaderText(division)}}</p>

        <div>
          <div class="games" *ngFor="let gameResult of day.Games;">
            <table class="game-sch {{getDivisionAccentColor(gameResult.DivisionId)}}">
              <tbody *ngIf="isFreeDay(gameResult)">
                <tr class="team-sch">
                  <td>
                    <strong>{{ gameResult.HomeTeamName }}</strong>
                  </td>
                  <td>Выходной</td>
                </tr>
              </tbody>
            </table>
            <table class="game-sch {{getDivisionAccentColor(gameResult.DivisionId)}}" *ngIf="gameResult.AwayTeamName">

              <tbody *ngIf="gameIsPlayed(gameResult)">

                <tr class="team-sch" [class.win]="gameResult.Result.TotalScore.Home > gameResult.Result.TotalScore.Away">

                  <td class="videoIconCell" *ngIf="gameResult.UrlToGameVideo" rowspan="3">
                    <a href="{{gameResult.UrlToGameVideo}}" title="Перейти к видео" class="videoLinkIcon">
                      📹
                    </a>
                  </td>

                  <td class="teamname" colspan="5">
                    {{gameResult.HomeTeamName}}
                  </td>

                  <td class="teamscore">
                    {{gameResult.Result.TotalScore.Home}}
                  </td>

                </tr>

                <tr class="team-sch" [class.win]="gameResult.Result.TotalScore.Home < gameResult.Result.TotalScore.Away">

                  <td class="teamname" colspan="5">
                    {{ gameResult.AwayTeamName }}
                  </td>

                  <td class="teamscore">
                    {{ gameResult.Result.TotalScore.Away }}
                  </td>

                </tr>

                <tr class="sets" *ngIf="gameResult.Result">

                  <td class="set" *ngFor="let setScore of gameResult.Result.SetScores">

                    <ng-template [ngIf]="!setScore.IsEmpty && !gameResult.Result.IsTechnicalDefeat">
                      <div>
                        {{setScore.Home}} : {{setScore.Away}}
                      </div>
                    </ng-template>

                    <ng-template [ngIf]="!setScore.IsEmpty && gameResult.Result.IsTechnicalDefeat">
                      <div>
                        <span>техн.</span>
                      </div>
                    </ng-template>

                    <ng-template [ngIf]="setScore.IsEmpty">
                      <div class="hidden"></div>
                    </ng-template>

                  </td>

                  <td>
                    <div class="game-time">{{getGameTotalBallsScore(gameResult.Result)}}</div>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="!gameResult.Result || (gameResult.Result.TotalScore.IsEmpty && !gameResult.Result.IsTechnicalDefeat)">
                <tr class="team-sch">
                  <td class="teamname">
                    {{gameResult.HomeTeamName}}
                  </td>
                </tr>
                <tr class="team-sch">
                  <td class="teamname">
                    {{gameResult.AwayTeamName}}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{gameResult.GameDate| localDate | date: 'HH:mm'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
