.schedule-wrapper {
  /* VARIABLES */
  $schedule-table-text-color: black;
  $header-bg-color: #DDEBF7;
  $division1-bg-color: #4472C4;
  $division2-bg-color: #70AD47;
  $division3-bg-color: #581058;
  $division4-bg-color: #452570;
  $division5-bg-color: #1d1d65;
  $division6-bg-color: #114457;
  $division7-bg-color: #106138;
  $division8-bg-color: #448b00;
  $division9-bg-color: #7d9500;
  $division10-bg-color: #877a00;
  $division11-bg-color: #c29800;
  $division12-bg-color: #a36d00;
  $division13-bg-color: #a34b00;
  $division14-bg-color: #bd3800;
  $division15-bg-color: #bb0005;
  $division16-bg-color: #9c0037;
  $division1-date-bg-color: #B4C6E7;
  $division2-date-bg-color: #C6E0B4;
  $division3-date-bg-color: #9d5e9d;
  $division4-date-bg-color: #8268a3;
  $division5-date-bg-color: #8e8eba;
  $division6-date-bg-color: #7c9da9;
  $division7-date-bg-color: #68ab89;
  $division8-date-bg-color: #afda86;
  $division9-date-bg-color: #e5f885;
  $division10-date-bg-color: #fff489;
  $division11-date-bg-color: #ffde6a;
  $division12-date-bg-color: #ffcd6a;
  $division13-date-bg-color: #ffb574;
  $division14-date-bg-color: #ff9e74;
  $division15-date-bg-color: #fd7478;
  $division16-date-bg-color: #ea6b98;
  $game-schedule-border-color: #E8E8E8;
  $game-hover-bg-color: #009933;
  /* STYLES */
  .schedule-table {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    color: $schedule-table-text-color;
    width: 100%;
    float: none;
    clear: both;
    white-space: nowrap;
    overflow-x: auto;
    .day {
      width: 280px;
      display: inline-block;
      margin-bottom: 10px;
    }
    .headercenter {
      margin: 0;
      font-size: 11pt;
      background-color: $header-bg-color;
      vertical-align: middle;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      width: 280px;
    }
    .division-data {
      width: 280px;
      float: left;
      font-size: 11pt;
      .division-date {
        margin: 0px;
        text-align: center;
        font-size: 9pt;
      }
    }
    .games {
      .game-sch {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        table-layout: fixed;
        empty-cells: hide;
        border: 1px solid $game-schedule-border-color;
        &:hover {
          background-color: $game-hover-bg-color;
        }
        th,
        td {
          border: none;
        }
        .win {
          font-weight: bold;
        }
        .teamname {
          padding-left: 5px;
        }
        .teamscore {
          text-align: center;
        }
        .sets {
          td {
            font-size: 8pt;
            text-align: center;
            &.game-time {
              text-align: left;
            }
          }
        }
      }
    }
    .division1 {
      &.headercenter {
        background-color: $division1-date-bg-color;
      }
      &.game-sch {
        background-color: $division1-bg-color;
      }
    }
    .division2 {
      &.headercenter {
        background-color: $division2-date-bg-color;
      }
      &.game-sch {
        background-color: $division2-bg-color;
      }
    }
    .division3 {
      &.headercenter {
        background-color: $division3-date-bg-color;
      }
      &.game-sch {
        background-color: $division3-bg-color;
      }
    }
    .division4 {
      &.headercenter {
        background-color: $division4-date-bg-color;
      }
      &.game-sch {
        background-color: $division4-bg-color;
      }
    }
    .division5 {
      &.headercenter {
        background-color: $division5-date-bg-color;
      }
      &.game-sch {
        background-color: $division5-bg-color;
      }
    }
    .division6 {
      &.headercenter {
        background-color: $division6-date-bg-color;
      }
      &.game-sch {
        background-color: $division6-bg-color;
      }
    }
    .division7 {
      &.headercenter {
        background-color: $division7-date-bg-color;
      }
      &.game-sch {
        background-color: $division7-bg-color;
      }
    }
    .division8 {
      &.headercenter {
        background-color: $division8-date-bg-color;
      }
      &.game-sch {
        background-color: $division8-bg-color;
      }
    }
    .division9 {
      &.headercenter {
        background-color: $division9-date-bg-color;
      }
      &.game-sch {
        background-color: $division9-bg-color;
      }
    }
    .division10 {
      &.headercenter {
        background-color: $division10-date-bg-color;
      }
      &.game-sch {
        background-color: $division10-bg-color;
      }
    }
    .division11 {
      &.headercenter {
        background-color: $division11-date-bg-color;
      }
      &.game-sch {
        background-color: $division11-bg-color;
      }
    }
    .division12 {
      &.headercenter {
        background-color: $division12-date-bg-color;
      }
      &.game-sch {
        background-color: $division12-bg-color;
      }
    }
    .division13 {
      &.headercenter {
        background-color: $division13-date-bg-color;
      }
      &.game-sch {
        background-color: $division13-bg-color;
      }
    }
    .division14 {
      &.headercenter {
        background-color: $division14-date-bg-color;
      }
      &.game-sch {
        background-color: $division14-bg-color;
      }
    }
    .division15 {
      &.headercenter {
        background-color: $division15-date-bg-color;
      }
      &.game-sch {
        background-color: $division15-bg-color;
      }
    }
    .division16 {
      &.headercenter {
        background-color: $division16-date-bg-color;
      }
      &.game-sch {
        background-color: $division16-bg-color;
      }
    }
    .videoIconCell {
      width: 20px;
      .videoLinkIcon {
        width: 16px;
        height: 16px;
        margin-left: 2px;
        position: relative;
        top: -8px;
        text-decoration: none;
      }
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
